<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031450090044-bcjgnifk27g5hqm26uit7pil86bp3e30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031450090044-bcjgnifk27g5hqm26uit7pil86bp3e30</string>
	<key>API_KEY</key>
	<string>AIzaSyB2SDgHpjvkJg0MFcscQ_UPnQ5vPCfRX-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1031450090044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curae</string>
	<key>PROJECT_ID</key>
	<string>curae-c3bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>curae-c3bb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031450090044:ios:d84c83ce9c78ae96e70139</string>
</dict>
</plist>